<div id="mainContent">
	<div id="boxLeft">
		<h1>Services</h1>
			<p>Decades of jewelry experience allow Hodges Jewelers to offer an outstanding quality and selection of services. Whether its Justin's goldsmith work, jewelry design or jewelry repair, Hodges Jewelers will continue to make every piece of jewelry special.</p>
			<p>Using their in-house studio and work station, Hodges Jewelers also provides jewelry assistance. These services include:</p>
		<ul>
			<li>Design and Manufacture Custom Jewelry</li>
			<li>Buy precious metals, coins, bullion and jewelry</li>
			<li>Watch and Clock Repair</li>
			<li>Jewelry Repair and Ring Sizing</li>
			<li>Much More</li>
		</ul>
	<p>Please stop by the store with your jewelry piece to discuss all of the service and repair options available. Tackling most repairs in-house, we work hard to repair and return jewelry that meets our high standards as quickly as possible.</p>
	<p>It's easy to get started. Get in <%= link_to 'Contact', contact_us_path %> with us online or stop by the store and we can help you with all of your jewelry needs.</p>
	</div>
	<div id="boxRight">
		<%= image_tag ('/assets/justin.gif') %>
	</div>
</div><!--end mainContent-->