<div id="mainContent">
	<div id="boxLeft">
		<h1>History</h1>
		<p>Courtney (father) and Justin (son), with their years of experience crafting and repairing fine jewelry, are living out their dream and continuing a family tradition. Their grandfather was a watchmaker in White Pigeon Michigan from the late 1930s until 1970, and the Hodges are continuing his tradition of timeless elegance, quality products, and skillful craftsmanship.</p>
		<p>Justin completed three years of schooling at Gem City College in Quincy Illinois, recommended by master jewelers throughout the country as one of the best jeweler training centers available. Justin works as a goldsmith and uses his training to repair and design beautiful jewelry. He now has ten years of experience putting this training into practice and strives to give each jewelry piece that personalized touch. Because of his experience, jewelry repairs are done in-house at his workbench in the store.</p>
		<p>Courtney has made custom jewelry for years and assists in designing and manufacturing their custom jewelry pieces on site in their in-store studio. In addition to designing and manufacturing custom jewelry, Hodges Jewelers carries a full line of Bulova and Accutron watches and also has access to previously enjoyed watches, including Rolex, Tag-Heuer, Omega, and other fine watch brands. These pieces are often stored or rarely worn, giving you exceptional value and great quality. Their full line of wedding, engagement, and anniversary rings are in stock from sterling to platinum, and make excellent companions alongside their other quality gift items.</p>
		<p>In an historic building in the heart of downtown Marshall you will find a sign emblazoned “Jeweler.” Inside you will discover how two lives can blend history, elegance, passion, and time into a unique jewelry piece that will last forever.</p>
		<p style=" font-size: 16px; font-style: italic;">“These gems have life in them: their colors speak, say what words fail of.” –George Eliot</p>
	</div>
	<div id="boxRight">
		<%= image_tag ('/assets/jandc1.gif')%>
		<p>Courtney and Justin are fulfilling their dream. They strive to foster relationships with all of their customers to find the perfect jewelry piece.</p>
	</div>
</div><!--end mainContent-->