<div id="storeContent">
	<h1>Shop Our Online Store</h1>
		We are currently generating our inventory list. Check back soon and you will be able to browse our inventory (including product information, images, and prices), and purchase items securely through our store online!
		<p style="padding-left: 250px;"><%= image_tag('/assets/DSCN1654.JPG') %><p>
</div><!--end storeContent-->